.Presentation {
    background: orange;
    
    position: fixed;
    height:100%;
    width:50%;
    padding-block-start: 12%;
    color: white;
    float:left;
}
.Presentation>h3 {
    padding-top:4%;
    padding-left:12%;
}
.Presentation>img {
    position: absolute;
    opacity: 0.2;
    width:55%;
    margin-left:20%;
}

.FormContainer {
    
    display: block;
    margin-top: 12%;
    margin-right:15%;
    background:orange;
    width:20%;
    margin-left:60%;
    text-align:center;
    border-radius:20px;
    font:Verdana;
    font-size: 16pt;
    color: white;
    float:right;
}

Button {
    display: inline-block;
    
    background-color:white;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	border:2px solid orange;
	
	cursor:pointer;
	color:orange;
	font-family:Verdana;
	font-size:14px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 5px 5px #d4ba52;
}