.navbar {
   
    background-color: orange;
    font-family: cursive;
    font-style: italic;
    color:white;
    display: block;
   
    height:2%;
    padding-left: 2%;
    font-size: 18pt;
    
}

.navButton {
    display: inline-block;
    padding-left: 80%;
    padding-bottom:10px;;
}



