.vertical-bar
{
  background:orange;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:10%;
  padding-top: 1%;
  border-right: solid 1px #888888;
  color: white;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
