.form-control {
    font-size: 13pt;
    border: none;
    border-bottom: 2px solid white;
    background-color:orange;
    color:white;
    display:block;
}
input {
    margin-right:20%;
}
a {
    font-size:9pt;
}

.form-horizontal  {
   margin-right:100%; 
   
}

